.menu-page-container {
    /* border: red 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-type-container {
    /* border: green 1px solid; */
    width: 95%;
}

.menu-page-all-items-container {
    /* border: blue 1px solid; */
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.detail-page-back-button {
    display: block;
    background-color: rgb(26, 121, 255, 0.25);
    margin: 0 0 0 8px;
    padding: 4px 16px;
    border: 2px black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.detail-page-back-button-text {
    color: white;
    text-decoration: none;
}

.detail-page-back-button-text:hover {
    color: rgb(175, 17, 17);
}

.menu-item-container {
    border: 1px solid grey;
    border-radius: 10px 10px;
    margin: 4px 0 4px 0;
    padding: 8px;
    width: 43%;
    min-width: 180px;
    background-color: rgb(245, 245, 245);
}

.menu-detail-text {
    color: grey;
    text-decoration: none;
}

.menu-detail-text-black {
    color: black;
}

.menu-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.menu-item-img {
    width: 50%;
    border-radius: 5px;
}

#menu-page-button-container {
    align-self: flex-end;
    margin-right: 12px;
}

/* CREATE MENU ITEM FORM */

.create-menu-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-menu-form {
    font-family: "Spectral SC", serif;
    font-weight: 200;
    font-style: normal;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid rgb(26, 121, 255);
    background-color: rgba(219, 219, 219, 0.178);
    border-radius: 5px;
    position: relative;
}

.validation-messages {
    color: red;
    font-size: 15px;
    font-family: Baskerville;
    margin-top: 5px;
}

.create-menu-title {
    font-family: "Spectral SC", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    padding: 10px;
    text-align: center;
    color: rgb(26, 121, 255);
    font-weight: 600;
}

.create-menu-form label {
    margin-bottom: 1px;
    color: rgb(26, 121, 255);
    font-weight: 500;
}

.create-menu-form textarea {
    font-family: Baskerville;
    font-weight: 400;
    font-style: normal;
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 3px;
    outline: none;
}

.create-menu-form textarea:focus {
    border: 1.5px solid rgb(26, 121, 255);
}
