.recent-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* text-decoration: none; */
}

.landing-business-review-container {
    background-color: rgb(250, 250, 250);
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 25%;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color: inherit;
}

.landing-card-image{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.landing-business-name {
    font-weight: bold;
}

.recent-actity-text {
    text-align: center;
}

.landing-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-category-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 20px;
}

.landing-category {
    margin: 10px;
    padding: 10px;
    height: 220px;
    width: 300px;
    text-align: center;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: #1A79FF;
    background-color: rgb(250, 250, 250);
    border: 1px solid lightgray;
}


.landing-category:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: rgb(26,121,255)
}

.carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.price-rating-dot {
    font-size: 1.5rem
}

.landing-hr {
    color: rgb(219, 219, 219);
}

.review-image {
    height: 50%;
    width: 50%;
}

.timeago {
    font-size: 12px;
}

.hr {
    border-color: rgb(219, 219, 219);
}


@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.all-business-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.business-card {
    background-color: rgb(250, 250, 250);
    border: 1px solid lightgray;
    border-radius: 3px;
    background-size: 200% 200%;
    animation: moveGradient 5s linear infinite;
    padding: 20px;
    width: 300px;
    transition: background-color 0.5s ease;
    text-decoration: none;
    color: black;
    /* color: white; */
}

.business-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.munch-logo-review{
    color: rgb(26,121,255);
}


.landing-business-review-container:hover .landing-business-name{
    color: rgb(26,121,255);
    text-decoration: underline;
}

.landing-price-rating{
    color: rgb(0, 31, 204);
}

.landing-card-titles{
    color: rgb(0, 31, 204);
    font-weight: bold;
}

.landing-card-title{
    color: black;
    font-size: 20px;
}

.landing-card-description{
    color: black;
}

.landing-card-About{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.landing-rev-img{
    height: 100px;
    width: 100px;
}

.hr-line{
    color: lightgray;
}

.l-star-icon{
    border-radius: 5px;
    margin-right: 4px;
    padding: 2px;
}
.l-star-filled{
    border: 1px solid rgb(26, 121, 255, 0.1);
    background-color: rgb(26, 121, 255, 0.7);
    color: white;
}
.l-star-empty{
    border: 1px solid  rgb(191, 190, 190);
    background-color: rgb(191, 190, 190);
    color: white;
}
