
.nav-bar-ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  z-index: 2;
  position: relative;
}

.Landinglogo img {
  width: 200px;
  height: 80px;
}

@keyframes moveGradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.Nav-btn {
  text-decoration: none;
  color: white;
  animation: moveGradient 5s linear infinite;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.5s ease;
  white-space: nowrap;
}

.Nav-btn:hover {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
  background-color: rgba(255, 255, 255, 0.50);
}

.background-shadow{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.60) 75%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
.nav-btn-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.search-component{
  width: 35%;
}

@media (max-width: 1120px) {
  .landing-category-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .landing-category{
    width: 18%;
    height: 18%;
    min-width: 150px;
    min-height: 150px;
  }
  .search-component{
    width: 80%;
  }
  .search-input{
    width: 50%;
  }
  .nav-btn-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
  }
  .toggledropdown{
    top: 15px;
  }
  .profile-dropdown{
    top:30px;
  }
}

@media (max-width: 675px) {
  .nav-btn-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:0;
  }
  .nav-btn{
    margin-bottom: 10px;
  }
}

.nav-login-btn{
  color: white;
  border: 1px solid white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.nav-login-btn:hover{
  background-color: rgba(255, 255, 255, 0.50);
}

.nav-signup-btn{
  color: white;
  border: 1px solid rgb(26,121,255);
  padding: 8px 12px;
  border-radius: 5px;
  background-color: rgb(26,121,255);
  cursor: pointer;
}

.logged-btns{
  display: flex;
}
